<header id="layout-header">
    <nav>
        <div class="mini-logo">
            <a href='/' style="font-style: italic;font-weight:500;">
                Codeial
            </a>
        </div>
        Page Header
        <div class="auth-links">
            <ul>
                <% if (locals.user){ %>
                    <li>
                        <a href="/users/profile">
                            <%= user.name %>
                        </a>
                    </li>
                    <li>
                        <a href="/users/sign-out">Sign Out</a>
                    </li>
                    <% }else{ %>

                        <li>
                            <a href="/users/sign-In">Sign In</a>
                        </li>

                        <li>
                            <a href="/users/sign-up">Sign Up</a>
                        </li>
                        <% } %>
            </ul>
        </div>
    </nav>
</header>