<h1>Codeial/<%=title%>
</h1>
<section id="feed-post">
        <h4>Posts</h4>
        <!-- Checking for authentication of user -->
<% if (locals.user){%>

        <form action="/posts/create" id="new-post-form" method="POST">
                <textarea name="content" id="new-post-content" cols="30" rows="3"
                        placeholder="What's on your mind today?"></textarea>
                <input type="submit" value="POST">
        </form>
        <%}%>

        <div id="post-list-container">
                <ul>
                        <%for(post of posts){%>
                                <li>
                                        <p>
                                                <%=post.content%>
                                                <br>
                                                <small>
                                                        <%=post.user.name%>
                                                </small>
                                        </p>t=require
                                        
                                </li>
                                <%}%>
                </ul>
        </div>
</section>